.banner {
  transform: scale(0);
  opacity: 0;
  background-color: #ddd;
  border: 2px solid #aaa;
  padding: 10px;
  border-radius: 10px;
  min-width: 30.5%;
  margin: 10px;
  transition: transform 0.25s, opacity 0.125s;
  text-align: center;
  font-size: var(--font-md);
}

.showing {
  transform: scale(1);
  opacity: 1;
}
